---
layout: page
---

{% assign years = site.portfolio
   | group_by_exp: "post", "post.date | date: '%Y'"
%}

<h1>Archives</h1>

<p>Most of this is ancient history, saved from an old Wordpress install and the Thoughts section of the late
thosecleverkids.com. Anything pre-2025 may have some broken imagery but I have salvaged what I can for the
future use of historians.</p>

{% for year in years reversed %}
  <h2>{{ year.name }}</h2>

  <ul>
    {% for post in year.items %}
      <li>
        <a class='title' href='{{ post.url }}'>{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
