---
layout: page
---

{% assign years = site.portfolio
   | group_by_exp: "post", "post.date | date: '%Y'"
%}

{% assign uniq_tags = site.portfolio
                      | map: 'tags'
                      | join: ","
                      | split: ","
                      | uniq
                      | sort %}

<!-- <div style="font-size: .8em;">{{ uniq_tags | array_to_sentence_string }}</div> -->

<h1>Archives</h1>

{% for year in years reversed %}
  <h2>{{ year.name }}</h2>

  <ul>
    {% for post in year.items %}
      <li>
        <a class='title' href='{{ post.url }}'>{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
